
/* FIRST BLOCK  */

#avatar {
    width: 35%;
}


.first {
    color: white;
}

.background-color {
    background-color: #1abc9c;
}

/* SECOND BLOCK  */

.second {
    color: black;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-only {
    width: calc((100% / 3) - 20px);
    border-radius: 25px;
}

.img-only > img {
    width: 100%;
    
}

.central-img {
    margin: 0px 10px;
}





