#avatar {
    width: 35%;
}


.img-only {
    width: calc((100% / 1) - 15px);
    margin: 0 auto;
}

.round {
    border-radius: 10px;
}


@media screen and (min-width: 768px) {
    
    .img-only {
        width: calc((100% / 2) - 20px);
    }
}

@media screen and (min-width: 992px) {
    
    .img-only {
        width: calc((100% / 3) - 20px);
    } 
}



