#avatar {
    width: 35%;
}


.img-only {
    width: 100%;
    margin: 0 auto;
}

.round {
    border-radius: 10px;
}

.size {
    font-size: 11px;
}

.backcol {
    background-color: #3a546d;
}

.parted {
    width: 100%;
}

.head-size {
  font-size: 12px;
}

.greenback {
    background-color: #1abc9c;
}

.title-size {
    margin-right: 
}

/* FORM  */

.input-style {
    border: none;
}

.send {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    border-radius: 5px;
    color: white;
}

/* A scomparsa */

.button-style {
    background-color: white;
    border: none;
    font-weight: bold;

}

@media screen and (min-width: 768px) {
    
    .img-only {
        width: calc((100% / 2) - 20px);
    }

    .size {
        font-size: 20px;
    }

    .block {
        width: calc(100% / 3);
    }

    .parted {
        width: calc(100% / 2);
    }

    .head-size {
       font-size: 12px;
    }
}

@media screen and (min-width: 992px) {
    
    .img-only {
        width: calc((100% / 3) - 20px);
    } 

    .size {
        font-size: 30px;
    }

    .parted {
        width: calc((100% / 2) - 25px);
        font-size: 19px;
    }

    .head-size {
       font-size: 23px;
    }

    #avatar {
    width: 25%;
    }

}



